/* styles.css */

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

h1{
    text-align: center;
    margin: 20px auto;
    color: #fff;
    user-select: none;
}

#introduction{
    text-align: center;
    margin: 20px auto;
    color: rgba(255, 247, 0, 1);
    user-select: none;
}

#play-button{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bolder;
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 10px;
    user-select: none;
}

#main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other elements */
}


#task-container {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, 0%);
    text-align: center;
    color: #fff;
    max-height: 300px;
    user-select: none;
}

#task-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    user-select: none;
}

#task-list {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.task-item {    
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#progress-bar {
    width: 100%;
    margin: 20px auto;
    height: 20px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
    user-select: none;
}

#completion-bar {
    height: 100%;
    background-color: #4caf50;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    user-select: none;
}

.completed {
    background-color: #4CAF50; /* Green color for completed tasks */
    color: #fff; /* Text color for completed tasks */
}

#add-btn{
    background-color: rgba(241, 218, 9, 0.3);
    color: #fff;
    height: 40px;
    width: 100px;
    border: none;   
    border-radius: 30px;
    margin-top: 20px;
    user-select: none;
}

.remove-btn{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 20px;
    width: fit-content;
    border: none;   
    border-radius: 30px;
    margin:0;
    user-select: none;
}

/* Scrollbar Styles */
#task-list::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

/* Handle on hover */
#task-list::-webkit-scrollbar-thumb:hover {
    background: gold;
}

/* Handle */
#task-list::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the scrollbar handle */
    border-radius: 5px; /* Set the border radius of the scrollbar handle */
}

/* Track */
#task-list::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2); /* Set the color of the scrollbar track */
    border-radius: 5px; /* Set the border radius of the scrollbar track */
}

#timer{
    color: #fff;
    font-size: 30px;
    margin: 10px;
    user-select: none;
}

#start, #stop{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255);
    color: black;
    height: 30px;
    width: 60px;
    border: none;   
    border-radius: 10px;
    user-select: none;
}

#controls{
    user-select: none;
}